<div class="container text-center app">
  <div class="row">
    <div class="col-md-8">
      <h1 id="title">{{ title }}</h1>
    </div>
    <div class="col-md-4">
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="msg">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>{{ msg }}</strong>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <img width="400" class="img-fluid" alt="Angular Logo"
        src="/assets/images/play.png" />
    </div>
    <div class="col-md-7">
      <h2>Create Task</h2>

      <form class="bg-light p-3 text-dark text-left">
        <div class="form-group">
          <label for="name" class="control-label">Name:</label>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="model.name" placeholder="Enter new name">
        </div>
        <div class="form-group">
          <label for="company" class="control-label">company:</label>
          <input type="text" id="company" name="company" class="form-control" [(ngModel)]="model.company" placeholder="Enter new company">
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <input type="text" id="email" name="email" type="email" class="form-control" [(ngModel)]="model.email" placeholder="Enter new email">
        </div>
        <div class="form-group text-center">
          <div class="col-md-12 mx-auto">
            <button type="submit" class="btn btn-block btn-primary" (click)="addEmployee()">
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  
  <div class="row mt-5">
    <div class="col-md-12 text-left">
      <h2>Listado de tareas</h2>
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>company</th>
            <th>email</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{ i }} </td>
            <td>{{ employee.name }} </td>
            <td>{{ employee.company }} </td>
            <td>{{ employee.email }} </td>
            <td>
              <a class="btn btn-primary my-1 btn-sm" (click)="editEmployee(i)">
                Edit
              </a>
              <a class="btn btn-danger my-1 btn-sm" (click)="deleteEmployee(i)">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4" [hidden]="hideUpdate">
      <h2>Update Task</h2>

      <form class="bg-light p-3 text-dark text-left">
        <div class="form-group">
          <label for="name" class="control-label">Name:</label>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="model2.name" placeholder="Enter new name">
        </div>
        <div class="form-group">
          <label for="company" class="control-label">company:</label>
          <input type="text" id="company" name="company" class="form-control" [(ngModel)]="model2.company" placeholder="Enter new company">
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <input type="text" id="email" name="email" type="email" class="form-control" [(ngModel)]="model2.email" placeholder="Enter new email">
        </div>
        <div class="form-group text-center">
          <div class="col-md-12 mx-auto">
            <button type="submit" class="btn btn-block btn-primary" (click)="updateEmployee()">
              Update Task
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>